.tablecontainer {
	width: 90%;
	padding: 30px 30px 0px 180px;
	text-align: left;
	font-size: 18px;
}

tr {
	height: 40px;
}

th {
	background-color: #259121;
	padding-left: 10px;
	font-weight: normal;
}

td {
	padding-left: 10px;
}

tr:nth-child(even) {
	background-color: #bdbdbd;
	padding: 5px 0px 5px 0px;
}

.centered {
	text-align: center;
}

.matchselect {
	background-color: whitesmoke;
	border-radius: 4px;
	color: black;
	display: inline-block;
	padding: 5px;
	outline: 0;
	border-color: black;
	cursor: pointer;
	font-size: 12px;
	height: 30px;
	border-width: 1px;
}

.matchselect:hover {
	background-color: #259121;
	text-decoration: none;
}

h2 {
	text-align: center;
}
