Button {
	background-color: black;
	border-radius: 4px;
	color: #2aeb23;
	display: inline-block;
	padding: 10px;
	outline: 0;
	cursor: pointer;
	font-size: 1.1rem;
}

Button:hover {
	background-color: #259121;
	text-decoration: none;
}
